<div id="top-bar" class="d-flex d-md-none">
  <img class="flex-end" src="../assets//images/Rectangle.png" alt="">
  <img src="../assets/images/Oval.png" alt="">
  <img src="../assets/images/Path.png " alt="">
</div>
<div id="top-bar-desktop" class="d-none d-sm-none d-md-flex d-lg-flex">
  <div id="logo">
    <img src="../../../assets/images/company-logo/a.png">
    <img src="../../../assets/images/company-logo/t.png">
    <img src="../../../assets/images/company-logo/g.png">
    <img src="../../../assets/images/company-logo/w.png">
    <img src="../../../assets/images/company-logo/logo.png">
    <img src="../../../assets/images/company-logo/r.png">
    <img src="../../../assets/images/company-logo/l.png">
    <img src="../../../assets/images/company-logo/d.png">
  </div>
 <div id="search-bar" class="mr-sm-2 form-control">
  <img src="../../../assets/images/search-icon.png">
  <input type="search" placeholder="Search for your favorite groups in ATG">
 </div>
  <div id="create-account" class="flex">
    <p>Create account. It’s free!</p>
    <img src="../../../assets/images/Vector.svg" >
  </div>

</div>
<div id="header-content">
  <div class="d-flex d-md-none" id="header-buttons">
    <img src="../../../assets/images/icon/navigation/icon/navigation/arrow_back_24px.svg" alt="">
    <button routerLink="login">Join Group</button>
  </div>
  <div id="heading">
    <h2 >Computer Engineering</h2>
    <h4>142,765 Computer Engineers follow this</h4>
  </div>
</div>
