<app-header></app-header>
<div id="login-overlay">
  <div id="login-container">
    <div id="header">
      <p>Create Account</p>
      <img src="../../../assets/images/close-btn.png">
    </div>
    <div id="login-form">
      <div id="name-input">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
      </div>
      <input type="text" placeholder="Email">
      <div id="password">
        <input type="password" placeholder="Password">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <input type="text" placeholder="Confirm Password">
      <div id="auth-buttons">
        <div>
          <button>Create Account</button>
        </div>
        <div>
          <p>or, Sign In</p>
        </div>
      </div>
      <div id="signin-links">
        <button> <img src="../../../assets/images/fb-logo.png"> Sign in with Facebook</button>
        <button> <img src="../../../assets/images/google-logo.png"> Sign in with Google</button>
      </div>
      <div id="footer">
        <p>By signing up, you agree to our Terms & conditions, Privacy policy</p>
      </div>
    </div>
  </div>
</div>
