<app-header></app-header>
<div id="login-overlay">
  <div id="login-container">
    <div id="header">
      <p>Welcome Back!</p>
      <img src="../../../assets/images/close-btn.png">
    </div>
    <div id="login-form">
      <input type="text" placeholder="Email">
      <div id="password">
        <input type="password" placeholder="Password">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <div id="auth-buttons">
        <div>
          <button>Sign In</button>
        </div>
       <div>
        <p>or, Create Account</p>
       </div>
      </div>
      <div id="signin-links">
        <button> <img src="../../../assets/images/fb-logo.png" > Sign in with Facebook</button>
        <button> <img src="../../../assets/images/google-logo.png" > Sign in with Google</button>
      </div>
      <div id="footer">
        <p>Forgot Password?</p>
      </div>
    </div>
  </div>
</div>
