<app-main-content></app-main-content>
<div id="login-overlay">
  <div id="login-container">
    <div id="ad" class="d-none d-lg-block">
      <p>Let's learn, share & inspire each other with our passion for computer engineering. Sign up now 🤘🏼</p>
    </div>
    <div id="header">
      <p class="d-lg-none">Welcome back!</p>
      <p id="desktop-heading" class="d-none d-lg-block">Sign In</p>
      <p id="goToSignin" (click)="goToSignup()" class="d-none d-lg-block">Don’t have an account yet?  <span>Create new for free!</span></p>
      <i id="close-btn" routerLink="/" class="fa fa-times-circle" aria-hidden="true"></i>
    </div>
    <div class="row">
      <div id="login-form" class="col-lg-6">
        <input type="text" placeholder="Email">
        <div id="password">
          <input type="password" placeholder="Password">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div id="auth-buttons">
          <div>
            <button routerLink="login">Sign In</button>
          </div>
          <div id="goToSignin" (click)="goToSignup()" class="d-lg-none">
            <p >or, Sign In</p>
          </div>
        </div>
        <div id="signin-links">
          <button> <img src="../../../assets/images/fb-logo.png"> Sign in with Facebook</button>
          <button> <img src="../../../assets/images/google-logo.png"> Sign in with Google</button>
        </div>
        <div id="footer">
          <p>Forgot Password?</p>
        </div>
      </div>
      <div id="image-section" class="col-lg-6 d-none d-lg-block">
        <img src="../../../assets/images/login-panel-image.png" >
        <p>By signing up, you agree to our Terms & conditions, Privacy policy</p>
      </div>
    </div>
  </div>
</div>
