<div id="posts">
  <div id="post">
    <img src="../../../assets/images/post-img1.png" id="post-img">
    <div id="post-content">
      <div id="heading-icon">
        <!-- <img src="../../../assets/images/✍️ Article.png" id="article-icon"> -->
        <p id="article-icon">✍️ Article</p>
      </div>
      <div id="article-title">
        <p>What if famous brands had regular fonts? Meet RegulaBrands!</p>
        <div  id="article-options">
          <img src="../../../assets/images/Vector.png">
        </div>
      </div>
      <div id="article-desc">
        <p>I’ve worked in UX for the better part of a decade. F..</p>
      </div>
      <div id="article-author">
        <div id="author-info">
          <div>
            <img src="../../../assets/images/profile-img1.png" alt="">
          </div>
          <div id="author-desc">
            <p id="author-name">Sarthak Kamra</p>
            <p id="views-count" class="d-lg-none">1.4k views</p>
          </div>
        </div>
        <div>
          <p id="views-count-desktop" class="d-none d-lg-flex"><i class="fa fa-eye" aria-hidden="true"></i>1.4k views</p>
          <button id="share-button"><img src="../../../assets/images/share-btn.png"> <span class="d-lg-none"> Share</span></button>
        </div>
      </div>
    </div>
  </div>
    <div id="post">
      <img src="../../../assets/images/post-img2.png" id="post-img">
      <div id="post-content">
        <div id="heading-icon">
          <!-- <img src="../../../assets/images/✍️ Article.png" id="article-icon"> -->
          <p id="article-icon" >🔬️ Education</p>
        </div>
        <div id="article-title">
          <p>Tax Benefits for Investment under National Pension Scheme launched by Government</p>
          <div>
            <img src="../../../assets/images/Vector.png" id="article-options">
          </div>
        </div>
        <div id="article-desc">
          <p>I’ve worked in UX for the better part of a decade. F..</p>
        </div>
        <div id="article-author">
          <div id="author-info">
            <div>
              <img src="../../../assets/images/profile-img2.png" alt="">
            </div>
            <div id="author-desc">
              <p id="author-name">Sarah West</p>
              <p id="views-count" class="d-lg-none">4.8k views</p>
            </div>
          </div>
          <div>
            <p id="views-count-desktop" class="d-none d-lg-flex"><i class="fa fa-eye" aria-hidden="true"></i>4.8k views</p>
            <button id="share-button"><img src="../../../assets/images/share-btn.png" alt=""> <span class="d-lg-none"> Share</span></button>
          </div>
        </div>
      </div>
    </div>
    <div id="post">
      <img src="../../../assets/images/post-img3.png" id="post-img">
      <div id="post-content">
        <div id="heading-icon">
          <!-- <img src="../../../assets/images/✍️ Article.png" id="article-icon"> -->
          <p id="article-icon">🗓️ Meetup</p>
        </div>
        <div id="article-title">
          <p>Finance & Investment Elite Social Mixer @Lujiazui</p>
          <div>
            <img src="../../../assets/images/Vector.png" id="article-options">
          </div>
        </div>
        <div id="event-schedule">
          <p> <img src="../../../assets/images/schedule.png"> Fri, 12 Oct, 2018</p>
          <p> <img src="../../../assets/images/location.png"> Ahmedabad, India</p>
        </div>
        <div id="visit-website-button">
          <button>Visit Website</button>
        </div>
        <div id="article-author">
          <div id="author-info">
            <div>
              <img src="../../../assets/images/profile-img4.png" alt="">
            </div>
            <div id="author-desc">
              <p id="author-name">Ronal Jones</p>
              <p id="views-count" class="d-lg-none">800 views</p>
            </div>
          </div>
          <div>
            <p id="views-count-desktop" class="d-none d-lg-flex"><i class="fa fa-eye" aria-hidden="true"></i>800 views</p>
            <button id="share-button"><img src="../../../assets/images/share-btn.png" alt=""> <span class="d-lg-none"> Share</span></button>
          </div>
        </div>
      </div>
    </div>
    <div id="post">
      <!-- <img src="../../../assets/images/post-img3.png" id="post-img"> -->
      <div id="post-content">
        <div id="heading-icon">
          <p id="article-icon">💼️ Job</p>
        </div>
        <div id="article-title">
          <p>Software Developer - II</p>
          <div>
            <img src="../../../assets/images/Vector.png" id="article-options">
          </div>
        </div>
        <div id="event-schedule">
          <p> <img src="../../../assets/images/schedule.png"> Innovaccer Analytic...</p>
          <p> <img src="../../../assets/images/location.png"> Noida, India</p>
        </div>
        <div id="apply-on-timesjob-button">
          <button>Apply on Timesjobs</button>
        </div>
        <div id="article-author">
          <div id="author-info">
            <div>
              <img src="../../../assets/images/profile-img5.png" alt="">
            </div>
            <div id="author-desc">
              <p id="author-name">Joseph Gray</p>
              <p id="views-count" class="d-lg-none" >1.7k views</p>
            </div>
          </div>
          <div>
            <p id="views-count-desktop" class="d-none d-lg-flex"><i class="fa fa-eye" aria-hidden="true"></i>1.7k views</p>
            <button id="share-button"><img src="../../../assets/images/share-btn.png" alt=""> <span class="d-lg-none"> Share</span></button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="create-post-button" class="d-lg-none">
  <i class="fa fa-pencil" aria-hidden="true"></i>
</div>
