/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

body{
  font-family: 'IBM Plex Sans';
}
p{
  margin: 0;
}
@media (min-width: 768px){
  body{
    scroll-behavior: smooth;
    /* font-size: 200%; */
  }
}
